# self explanatory, needs message content intent enabled
BOT_TOKEN=
# Channel ID where the bot will respond to messages, commands work in all channels
TARGET_CHANNEL_ID=
# only the specified user ID can set max tokens, model, temperature, pause, resume, reset, stop bot, use c2!ahelp to view owner only cmds
OWNER_ID=